/* Normalizar margenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.input {
  width: 100%;
}

.level {
  /* width: 100%; */
}

.fieldset{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0;
  padding: 0.5rem;
}

.fieldset input{
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: #ff0000 1px solid;

}

.input-container{
  display: flex;
  place-content: center flex-start;
  padding: 1rem;
  flex-flow: column wrap;
  align-items: flex-start;
  flex-direction: row;  background: #e2e2e2;
  border: 1px solid #618691;
  border-radius: 5px;
  padding: 1em;
}

.generate{
  background: #00ff0f;
  border: 1px solid #00ffff;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}